/* setting for all */
body{
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    color: #404040;
}

a, a:visited{
    text-decoration: none;
    color: #404040;
}

.container{
    width: 1096px;
    height: 100%;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items:center;
}

.col{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items:center;
}

.spc-between{
    justify-content: space-between;
}

.spc-evenly{
    justify-content: space-evenly;
}
.spc-center{
    justify-content: center;
}




/* width */
.w100{
    width: 100%;
}
.w75{
    width: 100%;
}
.w50{
    width: 100%;
}
.w25{
    width: 100%;
}

/*-----------------------color-----------------------*/
/* 文字 */
.black{
color: #404040;
}
.gray{
color:#AAAAAA;
}
.white{
color: #ffffff;
}

/* 塊面 */
.primary-light{
background-color: #F1ECE6;
}
.primary{
background-color: #CBAC8D;
}
.primary-dark{
background-color: #A58E7C;
}

/* 按鍵 */
.secondary-light{
background-color: #CBAC8D;
}
.secondary{
background-color: #856252;
}
.secondary-dark{
background-color: #3A2D27;
}
.secondary-danger{
background-color: #F2614C;
}

/* 效果 */
.highlight{
background-color: #A24D38;
}
    
/* 主標 */
h1{
    font-weight: 900;
    font-size:100px;
    line-height:100px;
    /* 主標(最大) */
}

h2{
    font-weight: 900;
    font-size:50px;
    line-height:58px;
    /* 主標(中) */
}

h3{
    font-weight: 900;
    font-size:38px;
    line-height:45px;
    /* 主標(最小) */
}

/* 副標 */
h4{
    font-weight: 700;
    font-size:32px;
    line-height:40px;
    /* 副標(最大) */
}

h5{
    font-weight: 700;
    font-size:28px;
    line-height:36px;
    /* 副標(中) */
}

h6{
    font-weight: 700;
    font-size:21px;
    line-height:28px;
    /* 副標(最小) */
}

/*  內文 */
p, a{
    font-weight: 500;
    font-size:18px;
    line-height:32px;
    /* 內文(L) */
}

.pm{
    font-weight: 500;
    font-size:16px;
    line-height:26px;
    /* 內文(M) */
}

.ps{
    font-weight: 500;
    font-size:14px;
    line-height:24px;
    /* 內文(S) */
}

/*-----------------------btn-----------------------*/

/* all-buttons */
.btn1, .btn2, .btn3, .btn4, .btn5, button{
font-family: 'Noto Sans TC', sans-serif;
border-radius: 3px;
font-weight: 500;
display: flex;
justify-content: center;
align-items: center;
margin: 5px;
}

/* button sizes */
.btn-xl{
height: 70px;
font-size: 24px;
letter-spacing: 2px;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
margin: 10px 5%;
}
.btn-l{
height: 48px;
font-size: 21px;
letter-spacing: 1.6px;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
margin: 10px 5%;
}
.btn-m{
height: 40px;
font-size: 18px;
letter-spacing: 1.4px;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
margin: 10px 5%;
}
.btn-s{
height: 32px;
font-size: 14px;
letter-spacing: 1.2px;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
margin: 10px 5%;
}

/* button styles */
.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
color: #fff;
}

.btn1{
background-color: #CBAC8D;
}
.btn1:hover{
background-color: #A24D38;
}
.btn1:active{
background-color: #856252;
}

.btn2{
background-color: #A24D38;
}
/* 暫定 */
.btn2:hover{
background-color: #743222;
}
/* 暫定 */
.btn2:active{
background-color: #541e11;
}

.btn1.inactive, .btn1.inactive:hover, .btn1.inactive:active, 
.btn2.inactive, .btn2.inactive:hover, .btn2.inactive:active{
background-color: #aaaaaa;
color:#ffffff;
}


.btn3{
border: 1px solid #CBAC8D;
color: #CBAC8D;
}
.btn3:hover{
border: 1px solid #A24D38;
color: #A24D38;
}
.btn3:active{
border: 1px solid #856252;
color: #856252;
}

.btn4{
border: 1px solid #ffffff;
color: #ffffff;
}
.btn4:hover{
border: 1px solid #CBAC8D;
color: #CBAC8D;
}
.btn4:active{
border: 1px solid #A24D38;
color: #A24D38;
}

.btn5{
background-color: #ffffff;
color: #CBAC8D;
}
.btn5:hover{
background-color: #CBAC8D;
color: #ffffff;
}
.btn5:active{
background-color: #A58E7C;
color: #ffffff;
}

.btn5.inactive, .btn5.inactive:hover, .btn5.inactive:active{
background-color: #aaaaaa;
color:#ffffff;
}

.btn3.inactive, .btn3.inactive:hover, .btn3.inactive:active, 
.btn4.inactive, .btn4.inactive:hover, .btn4.inactive:active{
border: 1px solid #aaaaaa;
color:#aaaaaa;
}


/* 手機版 */
@media (max-width:375px){
    
    body{
        margin: 0;
        font-family: 'Noto Serif TC', serif;
    }
    .container{
        width: 355px;
    }
    /*-----------------------type-----------------------*/
    /* 主標 */
    h1{
        font-weight: 900;
        font-size:50px;
        line-height:50px;
        /* 主標(最大) */
    }
    
    h2{
        font-weight: 900;
        font-size:40px;
        line-height:46px;
        /* 主標(中) */
    }
    
    h3{
        font-weight: 900;
        font-size:30px;
        line-height:36px;
        /* 主標(最小) */
    }
    
    /* 副標 */
    h4{
        font-weight: 700;
        font-size:22px;
        line-height:26px;
        /* 副標(最大) */
    }
    
    h5{
        font-weight: 700;
        font-size:18px;
        line-height:22px;
        /* 副標(中) */
    }
    
    h6{
        font-weight: 700;
        font-size:16px;
        line-height:20px;
        /* 副標(最小) */
    }
    
    /*  內文 */
    p{
        font-weight: 500;
        font-size:14px;
        line-height:18px;
        /* 內文(L) */
    }
    
    .pm{
        font-size:12px;
        line-height:16px;
        /* 內文(M) */
    }
    
    .ps{
        font-size:10px;
        line-height:14px;
        /* 內文(S) */
    }
    
    /*-----------------------btn-----------------------*/
    
    /* btn-size*/
    .btn-xl{
        height: 46px;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .btn-l{
        height: 32px;
        font-size: 16px;
        letter-spacing: 1.6px;
    
    }
    
    .btn-m{
        height: 24px;
        font-size: 12px;
        letter-spacing: 1.4px;
    }
    
    .btn-s{
        height: 20px;
        font-size: 10px;
        letter-spacing: 1.2px;
    }
}